In [3]:
a=10
print(type(a))
print(a)

<class 'int'>
10

In [12]:
st="Example"
print(type(st))
st='example2'
print(type(st))
st='''example
of
multiline
string'''
print(type(st))
print(st)

<class 'str'>
<class 'str'>
<class 'str'>
example
of
multiline
string

In [15]:
w=True
print(type(w))
print(w)
w=30<20
print(w)

<class 'bool'>
True
False

In [16]:
print(True+True)

2

In [18]:
print(True-False)
print(False-True)

1
-1

In [21]:
life= 1-2j
type(life)

complex

In [26]:
# Fundamental data types are immutable
a=10
print(id(a))

8885288

In [27]:
b=10
print(id(b))
a=20
print(id(a))

8885288
8885608

In [33]:
# Indexing and Slicing
s="Data Engineering"
print(s[-2])
print(s[4])
print(s[5])
print(s[0:3])
# syntax: s[start:end-1]

n

E
Dat

In [42]:
s="abcdefghijklmnopqrstuvwxyz"
# needed output: mno
print(s[12:15])
# needed output: xyz
print(s[-3:])
# needed output a to n
print(s[:14])
# out of bound index
print(s[3:1000])

mno
xyz
abcdefghijklmn
defghijklmnopqrstuvwxyz

In [51]:
# Python Operators
# Arithmetic
# Relational
# Logical

a=30
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

50
10
600
1.5
1
10
348678440100000000000000000000

In [54]:
print(a>b)
print(a<b)
print(a==b)

True
False
False

In [57]:
a=True
b=False
print(a and b)
print(a or b)
a=False
b=False
print(a and b)
print(a or b)
a=True
b=True
print(a and b)
print(a or b)

False
True
False
False
True
True

In [58]:
is_geological_survey_complete = True
is_environmental_clearance_received = True
is_market_demand_high = False

In [ ]:
should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received and is_market_demand_high

In [59]:
print(should_start_drilling)

False

In [60]:
# Boolean Variables
HasExplorationPermit = True
HasDrillingRights = True
HasEnvironmentalApproval = False
HasOilDiscovery = True

 

# Logical Operations
IsExplorationAllowed = HasExplorationPermit and HasDrillingRights and not HasEnvironmentalApproval
IsDiscoveryProfitable = HasOilDiscovery and (HasExplorationPermit or HasDrillingRights)
print(IsExplorationAllowed,IsDiscoveryProfitable)

True True

In [65]:
print('ten'*2)
print("ten"+"twenty")
print(10+20)

tenten
tentwenty
30

In [77]:
# Data Structures in Python
# 1. List - Enclosed in square brackets, Order is Preserved, accepts duplicates, any data type(heterogenous objects), mutable, indexing and slicing are possible
l1=[10,"om",23.6,True]
print(l1)
print(type(l1))
print(l1[2:])
l1.append(89898)
print(l1)
print(id(l1))
l1.remove(23.6)
l1

[10, 'om', 23.6, True]
<class 'list'>
[23.6, True]
[10, 'om', 23.6, True, 89898]
140197806524096

[10, 'om', True, 89898]

In [81]:
# 2. Tuple - Immutable, In parenthesis, eveything else same as list
t1=(10,"om",23.6,True)
print(t1)
print(type(t1))
print(t1[2])
t1.append(90)

(10, 'om', 23.6, True)
<class 'tuple'>
23.6

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
# Employee details

name = "John Doe"

job_title = "Senior Geologist"

department = "Geology"

email = "johndoe@email.com"

phone = "123-456-7890"



print(f"""Employee Information:
Name: {name}
Job Title: {job_title}
Department: {department}
Email: {email}
Phone: {phone}""")

Employee Information:
Name: John Doe
Job Title: Senior Geologist
Department: Geology
Email: johndoe@email.com
Phone: 123-456-7890

In [84]:
employee_info=f"Employee Information: \nName: {name} \nJob Title:{job_title} \nDepartment: {department} \nEmail:{email} \nPhone:{phone} "

In [85]:
print(employee_info)

Employee Information:
Name: John Doe
Job Title:Senior Geologist
Department: Geology
Email:johndoe@email.com
Phone:123-456-7890

In [89]:
# Set - Heterogenous, Duplicates not allowed, Order is not preserved, Slicing and Indexing not possible

C={20,"HELLO",34.5,'shell'}
C.add(55)
print(C)
print(id(C))
C.add(80)
print(id(C))

{34.5, 20, 55, 'shell', 'HELLO'}
140198070728768
140198070728768

In [92]:
d = {"location":"WellA","Start Date":"2023-1-1","Duration":45,"End":True}
print(type(d))
print(d)
d["location"] = 'WellB'
print(d)

<class 'dict'>
{'location': 'WellA', 'Start Date': '2023-1-1', 'Duration': 45, 'End': True}
{'location': 'WellB', 'Start Date': '2023-1-1', 'Duration': 45, 'End': True}

In [93]:
# List of Equipment
refineryEquipment = ["Crude Distillation Unit", "Catalytic Cracking Unit", "Hydrotreating Unit", "FCC Unit"]

 

# Membership Operator
IsUnitInstalled = "Hydrotreating Unit" in refineryEquipment
IsUnitObsolete = "Thermal Cracking Unit" not in refineryEquipment

 

print("Is Hydrotreating Unit installed?", IsUnitInstalled)
print("Is Thermal Cracking Unit obsolete?", IsUnitObsolete)

Is Hydrotreating Unit installed? True
Is Thermal Cracking Unit obsolete? True

In [94]:
employees = [
    "John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890",
    "Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210",
    "Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123",
    "Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456"
]
print(employees[0])

John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890

In [97]:
# Add a new employee to the end of the list.
# new_employee = "Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333"
employees.append("Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333")
print(employees)

['John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890', 'Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210', 'Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123', 'Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456', 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333', 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333']

In [98]:
# Flow Control
# Selection statement
a=100
b=70
if(a>b):
    print("In true")
else:
    print("In False")

In true

In [104]:
low_fuel_thresold=1000

critical_fuel_thresold=500

current_fuel_level=int(input("enter current fuel level"))
if(current_fuel_level<critical_fuel_thresold):
    print("Critical Fuel Level Reached. Take Immeditate Action")
elif(current_fuel_level<low_fuel_thresold):
    print("Send_fuel_low alter")
else:
    print("continue fueling")

enter current fuel level1400
continue fueling

In [105]:
for i in range(5,12):
    print(i)

5
6
7
8
9
10
11

In [106]:
for i in range(5,100,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [107]:
oil_gas_data = [

    ("Field A", "Texas", 500000),

    ("Field B", "Alaska", 800000),

    ("Field C", "North Sea", 300000),

    ("Field D", "Gulf of Mexico", 600000),

]

In [109]:
field_name,location,reserves=zip(*oil_gas_data)

In [110]:
for index, field_data in enumerate(oil_gas_data):

    field_name, location, reserve = field_data

    print(f"Field {index+1}: {field_name} is located in {location} with reserves of {reserve} barrels.")

Field 1: Field A is located in Texas with reserves of 500000 barrels.
Field 2: Field B is located in Alaska with reserves of 800000 barrels.
Field 3: Field C is located in North Sea with reserves of 300000 barrels.
Field 4: Field D is located in Gulf of Mexico with reserves of 600000 barrels.